<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/master-page}">
<head>
<style>
table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #dddddd;
}
</style>
</head>
<body>
	<th:block layout:fragment="content">
		<h1 style="text-align: center; color: maroon; font-style: oblique;">Account
			Details</h1>

		<div class="row">

			<table>
				<tr>
					<td colspan="2"><h2
							style="text-align: center; font-weight: bold;">Savings
							Account</h2></td>
				</tr>
				<tr>
					<td>
						<h3>
							Account Number :<span th:text="${savingsAccount.accountNumber}"></span>
						</h3>
					</td>
					<td>
						<h3>
							Account Balance :<span th:text="${savingsAccount.accountBalance}"></span>
						</h3>
					</td>
				</tr>
				<tr>
					<td colspan="2"><h2
							style="text-align: center; font-weight: bold;">Salary
							Account</h2></td>
				</tr>
				<tr>
					<td>
						<h3>
							Account Number :<span th:text="${salaryAccount.accountNumber}"></span>
						</h3>
					</td>
					<td>
						<h3>
							Account Balance :<span th:text="${salaryAccount.accountBalance}"></span>
						</h3>
					</td>
				</tr>
			</table>
		</div>
	</th:block>
</body>
</html>