<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/master-page}">

<body>
	<th:block layout:fragment="content">

		<h1 style="text-align: center; color: maroon; font-style: oblique;">Welcome
			to Online Banking System!</h1>
		<hr>

		<div class="row">
			<div class="col">
				<div class="row">
					<div class="col">
						<h2 style="text-align: center; color: teal;">You can
							perform following operations!</h2>
							<br>
					</div>
				</div>
				<div class="row">
					<div class="col" style="text-align: center;">
						<a class="btn btn-outline-primary my-2 my-sm-0"
							href="/accountDetails">Account Details</a>&nbsp;&nbsp;&nbsp; <a
							class="btn btn-outline-success my-2 my-sm-0" href="/depositPage">Deposit
							Money</a>&nbsp;&nbsp;&nbsp; <a
							class="btn btn-outline-danger my-2 my-sm-0" href="/withdrawpage">Withdraw
							Money</a>&nbsp;&nbsp;&nbsp; <a
							class="btn btn-outline-dark my-2 my-sm-0"
							href="/getTransactionPage">View Transactions</a>&nbsp;&nbsp;&nbsp;
						<a class="btn btn-outline-info my-2 my-sm-0" href="/profile">View
							Profile</a>&nbsp;&nbsp;&nbsp;
					</div>
				</div>
				<hr>
			</div>

		</div>



	</th:block>
</body>
</html>