<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/master-page}">

<head>
<style>
table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #dddddd;
}
</style>
</head>

<body>
	<th:block layout:fragment="content">

		<table>
			<td colspan="2">
				<h1 style="text-align: center; color: maroon; font-style: oblique;">Profile</h1>
			</td>
			<tr>
				<td>
					<h2 style="text-align: center">Name</h2>
				</td>
				<td>
					<h2 style="text-align: center">
						<span th:text="${user.firstName}" /> <span
							th:text="${user.lastName}" />
					</h2>
				</td>

			</tr>
			<tr>
				<td>
					<h2 style="text-align: center">UserName</h2>
				</td>
				<td>
					<h2 style="text-align: center">
						<span th:text="${user.username}" />
					</h2>
				</td>
			</tr>
			<tr>
				<td>
					<h2 style="text-align: center">Email Id</h2>
				</td>
				<td>
					<h2 style="text-align: center">
						<span th:text="${user.email}" />
					</h2>
				</td>
			</tr>
			<tr>
				<td>
					<h2 style="text-align: center">Contact Number</h2>
				</td>
				<td>
					<h2 style="text-align: center">
						<span th:text="${user.mobileNumber}" />
					</h2>
				</td>
			</tr>
			<tr>
				<td>
					<h2 style="text-align: center">Aadhar Number</h2>
				</td>
				<td>
					<h2 style="text-align: center">
						<span th:text="${user.aadharNumber}" />
					</h2>
				</td>
			</tr>
			<tr>
				<td>
					<h2 style="text-align: center">PAN Number</h2>
				</td>
				<td>
					<h2 style="text-align: center">
						<span th:text="${user.panNumber}" />
					</h2>
				</td>
			</tr>
			<tr>
				<td>
					<h2 style="text-align: center">Address</h2>
				</td>
				<td>
					<h2 style="text-align: center">
						City - <span th:text="${user.currentCity}" /> ,State - <span
							th:text="${user.currentState}" />,Pin Code - <span
							th:text="${user.currentPinCode}" />
					</h2>
				</td>
			</tr>
		</table>



	</th:block>
</body>

</html>